<ion-header class="modal-header">
  <ion-toolbar>
    <ion-title>
      {{ title() }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="cancel()">
        <ion-icon name="close" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content ion-padding">
  <div class="modal-body">
    @if (showIcon()) {
      <ion-icon name="alert-circle-outline" class="modal-icon" />
    }
    <p class="modal-text">
      {{ text() }}
    </p>
  </div>
</ion-content>
<ion-footer class="modal-footer ion-padding">
  <div class="footer-buttons">
    <ion-button fill="outline" expand="block" size="large" (click)="cancel()">
      {{ cancelLabel() }}
    </ion-button>

    <ion-button
      [color]="color()"
      expand="block"
      size="large"
      (click)="onConfirm()"
    >
      {{ confirmLabel() }}
    </ion-button>
  </div>
</ion-footer>
